body{
    background-image: url("../images/biblio2.png");
    background-size: cover;
    font-family: "Arial Black";
}

.btnContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10%;
}

.choiceBtn{
    width: 260px;
    height: 240px;
    margin: 20px;
    border-radius: 10px;
    font-size: 45px;
    padding: 10px;
}
.choiceBtn:hover{
    opacity: 0.3;
}

#staffBtn{
    background: url("../images/globe.png");
    background-size: cover;
}

#studentBtn{
    background: url("../images/student.png");
    background-size: cover;
}


